.empty {
    font-size: 25px;
    margin-top: 150px;
}

.row {
    margin-top: '20px';
    padding: 0 200px;
}

.parkingLotList {
  height: calc(100% - 90px);
}

.parkingLotList .ant-tabs {
  height: 100%;
}

div[role="tab"] {
  font-size: 20px;
  font-weight: 700;
}

.ant-tabs-nav-list {
  left: -630px;
}