.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #efefef;
}

.nav {
  height: 72px;
  background-color: #fff;
}

.nav .logo {
  margin-top: 15px;
}

.nav-tab {
  height: 72px;
  line-height: 68px;
}

.nav-tab .ant-menu-item{
  font-size: 24px;
  font-weight: bold;
}

.avatar {
  margin-top: 15px;
  border: grey solid 1px;
}
